/* Empty. Add your own CSS if you like */
.messageImg {
    width: 100%;
}
.bar-dark {
    background: #de3f3f;
}

ion-content, .innerabsenceform, .form-fields-outer {
    background: #ffc900;
}

/*Loader*/
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    left: 50%;
    margin-left: -60px;
    top: 150px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* zorgt voor kruisje naast de naam */
.flex-row{
    display: flex;
    flex-direction: row;
}

/* zorgt voor kruisje helemaal rechts van het veld*/
.flex-between{
    display: flex;
    justify-content: space-between;
}

i.delete {
    color: black;
    float: right;
}
i.confirm {
    color: blue;
}
.messageForm {
    width: 100%;
}
.messageForm input[type=text] {
    display: inline-block;
    width: 75%;
}
.messageForm button {
    width: 20%;
}
.messages p {
    white-space: normal;
    font-weight: bold;
}
.messages .messageName, .messages .messageTime {
    font-size: 13px;

}

.app-logo {
    width: 60%;
    margin: 0 auto;
    display: block;
}


.form.lessonFrom{
    margin-top: 100px;
}

h4{
    margin-top: 20px;
}

.menu-logo {
    height: 100%;
    margin: 0 auto;
    display: block;
}


/* ROOSTER OVERZICHT*/

.times {
    float: right;
    width: 17%;
}
.times ion-item {
    font-size: 12px;
}

.lessons ion-item {
    height: 54px;
    border: 0;
    padding: 0;
}
.lessons ion-item .lessonContent {
    padding: 5px;
}

.lessonActive {
    width: 100%;
    height: 100%;
    background: #8cb2ec;
}

.lesson {
    float: left;
    background-color: #0a9dc7;
    width: 83%;
    height: 53px;
}
.lesson2 {
    background-color: #3355f4;
    height: 106px;
    margin-top: 53px;
}

.bar.bar-dark {
    background-image: none;
    background-color: #de3f3f;

}
.lesson_single-view .buttons {
    margin-top: 25%;
}

.class_select {
    width: 100%;
}

.rooster-view ion-content {
    top: 92px;
}

.classes_details_view ion-content{
    top: 92px;
}

.second_tab{
    top: 49px;
}

ion-tabs .tab-item {
    background: #6ca6ff !important;
}
.approvedAbsence, .ispresent {
    background: #71ff55;
}
.rejectedAbsence {
    background: #ff3b30;
}

.uploadForm input[type=file] {
    display: none;
}
#imageUpload {
    display: none;
}
ion-item, ion-item a {
    background-color: #de3f3f!important;
    color: white !important;
}
ion-side-menu ion-item, ion-side-menu ion-item a {
    background-color: #de3f3f !important;
    color: white !important;
}
ion-side-menu ion-content {
    background: #de3f3f;
}
.button.button-block, .button.button-full {
    margin-bottom: 0;
    margin-top: 0;
}
.self {
    float: right;
    margin-bottom: 20px;
    white-space: normal;
    width: 75%;
    background-color: #009fff !important;
    color: white;
}
.self p {
    color: white;
}
.other {
    float: left;
    margin-right: 50%;
    margin-bottom: 20px;
    white-space: normal;
    width: 75%;
    background-color: #009fff !important;
    color: white;
}
.other p {
    color: white;
}
.item-content h2 {
    color: white;
}
.item p {
    color: white;
}